In [ ]:
!pip install sklearn-pandas

In [3]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import pipeline,preprocessing,metrics,model_selection,ensemble
from sklearn_pandas import DataFrameMapper
import sklearn.impute

In [4]:
data = pd.read_csv(r'C:/Users/user/Desktop/mpg/mpg_notebook/auto-mpg.csv')

In [5]:
data.head(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [6]:
data.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [32]:
mapper = DataFrameMapper([
                        (['cylinders','displacement','weight','acceleration','model year'], preprocessing.StandardScaler()),
                        (['horsepower'],sklearn.impute.SimpleImputer()),
                        (['origin'], preprocessing.OneHotEncoder(handle_unknown='ignore'))
                        ])

In [33]:
pipeline_obj = pipeline.Pipeline([
    ('mapper',mapper),
    ("model", ensemble.RandomForestRegressor())
])

In [34]:
data.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model year', 'origin', 'car name'],
      dtype='object')

In [35]:
data['horsepower'] =pd.to_numeric(data['horsepower'], errors='coerce')

In [36]:
data.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower      float64
weight            int64
acceleration    float64
model year        int64
origin            int64
car name         object
dtype: object

In [37]:
X = ['cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model year', 'origin']
Y = ['mpg']

In [38]:
pipeline_obj.fit(data[X],data[Y])

C:\Users\user\Anaconda3\lib\site-packages\sklearn\pipeline.py:335: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self._final_estimator.fit(Xt, y, **fit_params_last_step)

Pipeline(steps=[('mapper',
                 DataFrameMapper(drop_cols=[],
                                 features=[(['cylinders', 'displacement',
                                             'weight', 'acceleration',
                                             'model year'],
                                            StandardScaler()),
                                           (['horsepower'], SimpleImputer()),
                                           (['origin'],
                                            OneHotEncoder(handle_unknown='ignore'))])),
                ('model', RandomForestRegressor())])

In [39]:
pipeline_obj.predict(data[X])

array([17.17 , 14.916, 17.38 , 16.332, 17.069, 14.41 , 13.99 , 14.1  ,
       13.58 , 14.6  , 14.9  , 14.53 , 15.03 , 14.763, 23.869, 21.351,
       18.982, 20.765, 27.255, 26.27 , 24.441, 24.28 , 24.757, 25.251,
       20.89 , 10.6  , 10.85 , 11.515,  9.86 , 27.285, 26.04 , 25.059,
       25.69 , 19.419, 16.999, 17.481, 18.641, 18.102, 14.03 , 13.63 ,
       14.2  , 14.26 , 12.215, 12.9  , 12.78 , 18.2  , 22.05 , 18.57 ,
       18.274, 23.854, 26.925, 29.11 , 28.81 , 31.57 , 33.395, 27.215,
       26.915, 24.444, 25.765, 23.36 , 20.429, 22.673, 13.44 , 13.54 ,
       14.8  , 14.04 , 15.957, 11.55 , 12.75 , 12.47 , 12.935, 20.162,
       14.941, 13.622, 13.515, 14.08 , 19.125, 22.799, 20.86 , 25.925,
       22.627, 26.13 , 22.83 , 27.125, 27.075, 13.23 , 14.667, 13.4  ,
       14.026, 14.494, 11.98 , 13.24 , 13.23 , 14.1  , 12.46 , 12.11 ,
       13.255, 18.396, 16.19 , 18.22 , 18.255, 21.767, 26.53 , 11.74 ,
       12.2  , 12.8  , 12.31 , 18.462, 22.25 , 21.6  , 23.25 , 21.45 ,
       20.24 , 21.137, 25.96 , 14.34 , 15.045, 29.155, 24.77 , 21.41 ,
       19.612, 15.563, 23.118, 20.373, 12.09 , 20.198, 20.331, 19.203,
       16.15 , 31.275, 25.4  , 31.665, 24.641, 16.106, 16.161, 17.887,
       15.221, 13.23 , 14.06 , 13.825, 14.012, 27.52 , 27.58 , 26.158,
       31.71 , 31.69 , 27.585, 25.575, 25.722, 24.02 , 25.45 , 29.58 ,
       19.205, 17.861, 15.938, 15.915, 15.345, 14.805, 15.265, 14.56 ,
       17.13 , 16.165, 15.706, 17.676, 20.611, 19.548, 15.019, 28.33 ,
       23.566, 19.748, 22.73 , 24.01 , 25.448, 23.925, 19.584, 28.825,
       19.024, 23.124, 22.407, 21.908, 23.811, 32.5  , 26.853, 25.299,
       24.569, 25.865, 27.06 , 16.335, 15.625, 15.974, 14.81 , 21.334,
       20.904, 23.123, 21.494, 29.341, 25.441, 28.915, 32.605, 19.591,
       18.305, 18.415, 18.438, 29.776, 31.75 , 28.01 , 25.84 , 20.427,
       13.552, 20.227, 19.525, 17.011, 15.485, 13.825, 14.022, 13.458,
       31.352, 29.53 , 34.129, 25.226, 32.899, 16.954, 17.155, 15.54 ,
       15.53 , 17.87 , 20.431, 19.167, 18.473, 15.835, 15.6  , 15.663,
       15.75 , 29.631, 24.73 , 26.809, 25.146, 30.717, 32.328, 30.592,
       29.776, 21.691, 22.692, 22.142, 40.413, 35.586, 34.737, 37.044,
       35.915, 19.758, 18.969, 19.522, 19.358, 20.271, 20.693, 24.999,
       20.245, 19.65 , 20.524, 20.742, 18.916, 18.773, 19.039, 18.273,
       18.899, 17.014, 30.243, 25.963, 26.537, 30.125, 22.767, 23.062,
       23.398, 24.714, 21.376, 18.209, 22.44 , 17.015, 32.209, 30.44 ,
       21.306, 21.493, 23.762, 20.346, 20.789, 17.361, 17.935, 17.421,
       17.813, 16.618, 16.067, 19.304, 17.731, 33.104, 34.583, 35.012,
       28.138, 25.476, 21.748, 27.564, 22.616, 34.322, 34.255, 34.26 ,
       36.149, 27.918, 28.321, 26.455, 31.509, 39.14 , 37.808, 33.642,
       37.287, 27.817, 25.63 , 25.099, 20.259, 34.725, 29.747, 31.387,
       34.912, 32.685, 43.589, 26.931, 40.911, 43.396, 40.975, 34.369,
       30.593, 40.575, 38.627, 35.042, 32.101, 27.726, 28.398, 33.59 ,
       23.888, 32.733, 28.313, 27.092, 26.186, 24.76 , 31.1  , 37.945,
       37.885, 35.906, 33.532, 36.917, 36.545, 34.427, 34.71 , 34.538,
       32.044, 33.797, 34.   , 33.884, 32.767, 31.499, 31.32 , 27.839,
       29.003, 25.922, 25.139, 21.716, 24.881, 21.24 , 19.982, 28.427,
       27.856, 33.197, 30.258, 29.451, 27.157, 24.842, 23.696, 36.11 ,
       36.594, 33.189, 37.358, 35.426, 35.814, 35.456, 34.002, 35.768,
       33.206, 36.674, 25.51 , 32.057, 27.643, 24.799, 30.335, 34.083,
       25.958, 27.096, 42.021, 32.297, 28.45 , 29.647])

In [40]:
import joblib

In [41]:
joblib.dump(pipeline_obj,'RFModelforMPG.pkl')

['RFModelforMPG.pkl']

In [42]:
modelReload=joblib.load('RFModelforMPG.pkl')

In [43]:
modelReload.predict(data[X])

array([17.17 , 14.916, 17.38 , 16.332, 17.069, 14.41 , 13.99 , 14.1  ,
       13.58 , 14.6  , 14.9  , 14.53 , 15.03 , 14.763, 23.869, 21.351,
       18.982, 20.765, 27.255, 26.27 , 24.441, 24.28 , 24.757, 25.251,
       20.89 , 10.6  , 10.85 , 11.515,  9.86 , 27.285, 26.04 , 25.059,
       25.69 , 19.419, 16.999, 17.481, 18.641, 18.102, 14.03 , 13.63 ,
       14.2  , 14.26 , 12.215, 12.9  , 12.78 , 18.2  , 22.05 , 18.57 ,
       18.274, 23.854, 26.925, 29.11 , 28.81 , 31.57 , 33.395, 27.215,
       26.915, 24.444, 25.765, 23.36 , 20.429, 22.673, 13.44 , 13.54 ,
       14.8  , 14.04 , 15.957, 11.55 , 12.75 , 12.47 , 12.935, 20.162,
       14.941, 13.622, 13.515, 14.08 , 19.125, 22.799, 20.86 , 25.925,
       22.627, 26.13 , 22.83 , 27.125, 27.075, 13.23 , 14.667, 13.4  ,
       14.026, 14.494, 11.98 , 13.24 , 13.23 , 14.1  , 12.46 , 12.11 ,
       13.255, 18.396, 16.19 , 18.22 , 18.255, 21.767, 26.53 , 11.74 ,
       12.2  , 12.8  , 12.31 , 18.462, 22.25 , 21.6  , 23.25 , 21.45 ,
       20.24 , 21.137, 25.96 , 14.34 , 15.045, 29.155, 24.77 , 21.41 ,
       19.612, 15.563, 23.118, 20.373, 12.09 , 20.198, 20.331, 19.203,
       16.15 , 31.275, 25.4  , 31.665, 24.641, 16.106, 16.161, 17.887,
       15.221, 13.23 , 14.06 , 13.825, 14.012, 27.52 , 27.58 , 26.158,
       31.71 , 31.69 , 27.585, 25.575, 25.722, 24.02 , 25.45 , 29.58 ,
       19.205, 17.861, 15.938, 15.915, 15.345, 14.805, 15.265, 14.56 ,
       17.13 , 16.165, 15.706, 17.676, 20.611, 19.548, 15.019, 28.33 ,
       23.566, 19.748, 22.73 , 24.01 , 25.448, 23.925, 19.584, 28.825,
       19.024, 23.124, 22.407, 21.908, 23.811, 32.5  , 26.853, 25.299,
       24.569, 25.865, 27.06 , 16.335, 15.625, 15.974, 14.81 , 21.334,
       20.904, 23.123, 21.494, 29.341, 25.441, 28.915, 32.605, 19.591,
       18.305, 18.415, 18.438, 29.776, 31.75 , 28.01 , 25.84 , 20.427,
       13.552, 20.227, 19.525, 17.011, 15.485, 13.825, 14.022, 13.458,
       31.352, 29.53 , 34.129, 25.226, 32.899, 16.954, 17.155, 15.54 ,
       15.53 , 17.87 , 20.431, 19.167, 18.473, 15.835, 15.6  , 15.663,
       15.75 , 29.631, 24.73 , 26.809, 25.146, 30.717, 32.328, 30.592,
       29.776, 21.691, 22.692, 22.142, 40.413, 35.586, 34.737, 37.044,
       35.915, 19.758, 18.969, 19.522, 19.358, 20.271, 20.693, 24.999,
       20.245, 19.65 , 20.524, 20.742, 18.916, 18.773, 19.039, 18.273,
       18.899, 17.014, 30.243, 25.963, 26.537, 30.125, 22.767, 23.062,
       23.398, 24.714, 21.376, 18.209, 22.44 , 17.015, 32.209, 30.44 ,
       21.306, 21.493, 23.762, 20.346, 20.789, 17.361, 17.935, 17.421,
       17.813, 16.618, 16.067, 19.304, 17.731, 33.104, 34.583, 35.012,
       28.138, 25.476, 21.748, 27.564, 22.616, 34.322, 34.255, 34.26 ,
       36.149, 27.918, 28.321, 26.455, 31.509, 39.14 , 37.808, 33.642,
       37.287, 27.817, 25.63 , 25.099, 20.259, 34.725, 29.747, 31.387,
       34.912, 32.685, 43.589, 26.931, 40.911, 43.396, 40.975, 34.369,
       30.593, 40.575, 38.627, 35.042, 32.101, 27.726, 28.398, 33.59 ,
       23.888, 32.733, 28.313, 27.092, 26.186, 24.76 , 31.1  , 37.945,
       37.885, 35.906, 33.532, 36.917, 36.545, 34.427, 34.71 , 34.538,
       32.044, 33.797, 34.   , 33.884, 32.767, 31.499, 31.32 , 27.839,
       29.003, 25.922, 25.139, 21.716, 24.881, 21.24 , 19.982, 28.427,
       27.856, 33.197, 30.258, 29.451, 27.157, 24.842, 23.696, 36.11 ,
       36.594, 33.189, 37.358, 35.426, 35.814, 35.456, 34.002, 35.768,
       33.206, 36.674, 25.51 , 32.057, 27.643, 24.799, 30.335, 34.083,
       25.958, 27.096, 42.021, 32.297, 28.45 , 29.647])

In [44]:
temp={}
temp['cylinders']=8
temp['displacement']=307
temp['horsepower']=130
temp['weight']=3504
temp['acceleration']=12
temp['model year']=70
temp['origin']=3

In [45]:
testData=pd.DataFrame({'x':temp}).transpose()
testData

,acceleration,cylinders,displacement,horsepower,model year,origin,weight
x,12,8,307,130,70,3,3504

In [46]:
modelReload.predict(testData)[0]

17.317